.profile_settings {
	display: flex;
	gap: 30px;
}

.user_avatar {
	object-fit: cover;
}

.profile_srttings_container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.text_contant {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.text_content_title {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #9ea5ad;
}

.text_container {
	width: 431px;
	height: 53px;
	padding: 15px 0 15px 15px;

	border: 2px solid #ededed;
	border-radius: 5px;
}

.profile_button {
	cursor: pointer;

	font-size: 14px;
	color: #292929;
	text-align: left;

	background-color: white;
	border: none;
}

.profile_button:last-child {
	color: #9ea5ad;
}
