@import '../../../assets/styles/variables';
.btn{
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 8px 1px;
    border: 0.5px solid white;
    border-radius: 100%;
    &:hover {
        background-color: $primary-bg-color;
        svg{
            color: white;
            filter: invert(100%) sepia(0%) saturate(7432%) hue-rotate(319deg) brightness(150%) contrast(116%);
        }
    }
    svg{
        width: 1.5vw;
        height: 1.5vh;
        display: block;
        margin:0 auto;
    }
}
@include md-down{
    .btn svg{
        width: 3vw;
        height: 3vh;
    }
}
@include sm-down{
    .btn svg{
        width: 5vw;
        height: 5vh;
    }
}