@import '../../../assets/styles/variables';

.certificates {
	margin-top: 30px;
}

.container {
	max-width: 1564px;
	margin-right: auto;
	margin-left: auto;

	@include lg-down {
		max-width: 1168px;
	}

	@include md-down {
		max-width: 960px;
	}

	@include sm-down {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.title {
	font-size: 36px;
	font-weight: 800;
}

.list {
	display: flex;
	gap: 20px 20px;
	margin-top: 30px;

	@include lg-down {
		flex-wrap: wrap;
	}

	@include md-down {
		justify-content: center;
	}
}

.item {
	max-width: 508px;
	padding: 20px;
	border: 1px solid rgb(237 237 237);
	border-radius: 10px;
}

.item-title {
	font-size: 20px;
	font-weight: 700;
}

.item-wrapper {
	display: flex;
	column-gap: 10px;
	margin-top: 20px;

	&:last-of-type {
		flex-direction: column;
		row-gap: 10px;
	}
}

.title-сourse {
	font-size: 18px;
	font-weight: 400;
}

.text {
	font-size: 16px;
	font-weight: 400;
}

.image-сourse {
	display: inline-block;
	margin-top: 20px;
	width: 100%;
	border-radius: 10px;
}

.wrapper-course-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.duration {
	font-size: 18px;
	font-weight: 400;
	line-height: 130%;
}

.сourse-passed {
	padding: 5px 10px;

	font-size: 16px;
	font-weight: 500;
	color: rgb(60 191 49);

	border: 1px solid rgb(60 191 49);
	border-radius: 5px;
}

.button-download {
	display: block;

	margin-top: 24px;
	padding-top: 15px;
	padding-bottom: 15px;

	font-size: 18px;
	font-weight: 600;
	color: rgb(41 41 41);
	text-align: center;

	border: 1px solid rgb(158 165 173);
	border-radius: 5px;
}
