$button-size: 54px;
$casual-border: 1px solid #ededed;
$background-basic: #fff;
$basic-height: 56px;

.topBar {
	display: flex;
	justify-content: flex-end;

	width: 100%;
	max-width: 100%;
	height: 76px;
	padding: 10px 26px 10px 30px;

	border-bottom: $casual-border;

	.box {
		display: flex;
		gap: 20px;
		height: 56px;

		.btnBox {
			display: flex;
			gap: 15px;
			justify-content: space-between;

			width: 123px;
			height: $basic-height;

			.favBtn {
				width: $button-size;
				height: $button-size;
				padding: 15px;

				background-color: $background-basic;
				border: $casual-border;
				border-radius: 5px;

				&:hover {
					cursor: pointer;
				}
			}
		}

		.profBox {
			display: flex;
			gap: 15px;
			align-items: center;
			height: $basic-height;

			.nameBox {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: center;

				height: 47px;

				.user {
					font-size: 16px;
					font-weight: 400;
				}

				.userName {
					font-size: 20px;
					font-weight: 600;
					white-space: nowrap;
				}
			}

			.photoBox {
				width: $basic-height;
				height: $basic-height;

				.photo {
					width: $basic-height;
					height: $basic-height;
					border-radius: 50px;
				}
			}
		}
	}
}

@media (width <= 1000px) {
	.topBar {
		align-items: flex-start;
		justify-content: space-between;
		height: 74px;
		padding: 0 0 10px;

		.bigLogo {
			width: 197px;
			height: 64px;
		}

		.box {
			.profBox {
				.photoBox {
					width: 50px;
					height: 50px;

					.photo {
						width: 50px;
						height: 50px;
					}
				}
			}
		}
	}
}

@media (width <= 600px) {
	.topBar {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		height: 69px;
		padding: 0 0 15px;

		.smallLogo {
			width: 66px;
			height: 48px;
		}

		.box {
			height: 54px;
		}
	}
}
