@import '../../../assets/styles/variables';

.btn {
	cursor: pointer;
	display: inline-block;
	border-radius: 5px;

	&:disabled {
		cursor: default;
	}
}

svg {
	width: 24px;
	height: 24px;
	stroke-width: 2px;
}

.children {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.primary {
	color: $color-white;
	background-color: $color-orange;
	border: none;
	stroke: $color-white;

	&:hover {
		color: $color-orange;
		background-color: $color-white;
		border: 1px solid $color-orange;
		stroke: $color-orange;
	}

	&:disabled {
		color: $color-gray;
		background-color: $color-gray-lite;
		border: none;
		stroke: $color-gray;
	}
}

.secondary {
	color: $color-white;
	background-color: $color-black;
	border: none;
	stroke: $color-white;

	&:hover {
		color: $color-black;
		background-color: $color-white;
		border: 1px solid $color-black;
		stroke: $color-black;
	}

	&:disabled {
		color: $color-gray;
		background-color: $color-gray-lite;
		border: 1px solid $color-gray;
		stroke: $color-gray;
	}
}

.outlined {
	color: $color-black;
	background-color: $color-white;
	border: 1px solid #9ea5ad;
	stroke: $color-black;

	&:hover {
		color: $color-black;
		background-color: $color-orange;
		border: 1px solid $color-black;
		stroke: $color-black;
	}

	&:disabled {
		color: $color-gray;
		background-color: $color-white;
		border: 1px solid $color-gray;
		stroke: $color-gray;
	}
}

.lg {
	min-width: 169px;
	height: 54px;
	padding: 15px 15px 15px 20px;

	font-size: $font-size-lg-desktop;
	font-weight: $font-weight-lg-desktop;
	line-height: $line-height-lg-desktop;
}

.sm {
	min-width: 146px;
	height: 34px;
	padding: 5px, 10px, 5px, 15px;

	font-size: $font-size-sm-desktop;
	font-weight: $font-weight-sm-desktop;
	line-height: $line-height-sm-desktop;
}

@media (width <= 1000px) {
	.lg {
		min-width: 151px;
		height: 44px;
		padding: 10px 10px 10px 15px;

		font-size: $font-size-lg-tablet;
		font-weight: $font-weight-lg-tablet;
		line-height: $line-height-lg-tablet;
	}

	.sm {
		min-width: 128px;
		height: 30px;
		padding: 53px, 5px, 3px, 10px;

		font-size: $font-size-sm-tablet;
		font-weight: $font-weight-sm-tablet;
		line-height: $line-height-sm-tablet;
	}
}
