$button-size: 54px;
$casual-border: 1px solid #ededed;
$background-basic: #fff;
$basic-height: 56px;
$default-width: 100%;

.mainContainer {
	max-width: inherit;
	background-color: $background-basic;

	.preCont {
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 30px 26px 0 32px;

		.captionBox {
			height: 40px;

			.caption {
				font-size: 36px;
				font-weight: 800;
				line-height: 39.6px;
			}
		}

		.bannerBox {
			width: $default-width;
			height: 294px;

			.banner {
				width: $default-width;
				height: 294px;
				border-radius: 10px;
			}
		}
	}
}

@media (width <= 1000px) {
	.mainContainer {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 20px;

		.preCont {
			gap: 20px;
			padding: 0;

			.captionBox {
				.caption {
					font-size: 32px;
				}
			}

			.bannerBox {
				height: 220px;

				.banner {
					height: 220px;
				}
			}
		}
	}
}

@media (width <= 600px) {
	.mainContainer {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 20px;

		.preCont {
			gap: 20px;
			padding: 0;

			.captionBox {
				.caption {
					font-size: 32px;
				}
			}

			.bannerBox {
				height: 400px;

				.banner {
					height: 400px;
				}
			}
		}
	}
}
