@import '@/assets/styles/variables';
.drawer-conteiner{
  margin: 20px;
  &::placeholder{
      color: #9EA5AD;
  } 
  label{
      color: #9EA5AD;
  }
  & input,textarea{
      border: 1px solid #EDEDED;
      padding: 15px 20px;
      border-radius: 4px;
      width: 100%;
      margin-bottom: 15px;
  }
  .nameOfCourse{
      font-weight: 600;
  }
  .form{
      line-height: 50px;
  }
  .btn-conteiner button{
    width: 100%;
    margin-top: 150px;
  }
  @include md-down {
    .btn-conteiner button{
      margin-top: 15px;
    }
  }
}
.done-conteiner{
  z-index: inherit;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  svg{
      width: 10vw;
      height: 10vh;
  }
}
.drawer-course-header-text{
  display: flex;
  flex-direction: column;
}
.svg-wrapper{
  svg{
    width: 311px;
    height: auto;
  }
}
.rating-conteiner{
  display: flex;
}
.profile-photo {
  svg{
    width: 25px;
    height: 25px;
  }
  img{
    transition: all 0.2s;
    &:hover{
      cursor: pointer;
      filter: brightness(0.5);
      position: relative;
    }
  
  }
}
.svg-camera svg{
  width: 38px;
  height: 38px;
  position: absolute;
  top: 23%;
  left: 30%;
  @include lg-down {
    &{
      top: 20%;
      left: 40%;
    }
  }
  @include md-down {
    &{
      top: 27%;
      left: 46%;
    }
  }
  @include sm-down {
    &{
      top: 27%;
      left: 44%;
    }
  }
}
