.radio_label {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

// скрываем элемент но оставляем его видимым для робота
.visually_hidden {
	position: absolute;

	overflow: hidden;

	width: 1px;
	height: 1px;

	white-space: nowrap;

	clip: rect(0 0 0 0);
	clip-path: inset(50%);
}

// создаем основные стили для неактивной радиокнопки
.radio_button {
	cursor: pointer;

	width: 18px;
	height: 18px;
	margin-inline-end: 8px;

	vertical-align: middle;

	background-color: none;
	border: 2px solid #ededed;
}

// скругляем края
input[type='radio'] + .radio_button {
	border-radius: 50%;
}

// создаем стили для нашей нажатой радиокнопки
input[type='radio']:checked + .radio_button {
	background-color: #f7a121;
	border: 2px solid #f7a121;
	box-shadow: inset 0 0 0 3px white;
}

// только для неактитвной кнопки есть ховер эффект, ну это уже от себя добавил
input[type='radio'] + .radio_button:not(:checked):hover {
	border: 2px solid #f7a121;
}
