.main_container {
	margin-block: 20px 10px;
	margin-inline: 30px 30px;
}

.tabs_container {
	display: flex;
	margin-block: 30px 30px;
}

.tab_button {
	width: 160px;
	height: 43px;

	font-size: 18px;

	background-color: white;
	border: 2px solid #ededed;
}

.tab_button:first-child {
	border-radius: 5px 0 0 5px;
}

.tab_button:last-child {
	border-radius: 0 5px 5px 0;
}

.tab_button.active {
	color: #fff;
	background-color: #f7a121;
	border: none;
}

.tab_content {
	display: none;
}

.tab_content.active {
	display: block;
}

.switch_tab_content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (width < 1024px) {
	.main_container {
		margin-block-end: 74px;
	}
}
